# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.gitignore
/.gcc-flags.json
/encoder_glcd.ino
/encoder_book.ino

/Foxetron.tws
/Foxetron.vcxproj.user
/Foxetron.sln
/Foxetron.sln.DPack
/Foxetron.atsuo
/Foxetron_AngleEncoder/Foxetron_AngleEncoder.vcxproj.user

*.gitignore
*.gitattributes
*.suo
*.vmps.xml

Release/

/.vs/config/applicationhost.config
/Foxetron_AngleEncoder/__vm/.Foxetron_AngleEncoder.vsarduino.h
/Foxetron_AngleEncoder/Foxetron_AngleEncoder.vcxproj
/Foxetron_AngleEncoder/Foxetron_AngleEncoder.vcxproj.filters
/Foxetron.vcxproj.filters
